.margin0 {
  margin: 0;
}

.btn-success {
  background-color: @success-color;
  color: white;
  border-color: @success-color;
  :hover {
    color: white;
    background-color: #75b863 !important;
    border-color: @success-color !important;
  }
}

.btn-secondary {
  background-color: @secondary;
  :hover {
    background-color: @secondary-hover;
  }
}

.btn-add {
  display: block;
  margin-bottom: 20px;
}
