@font-size-base: 16px;
@height-base: 47px;
@height-sm: 24px;
@height-lg: 66px;
//shape scheme
@border-radius-base: 12px; //colorsheet styles
//color scheme
@neutral-1: #292c38;
@neutral-2: #565c70;
@neutral-3: #96a0b5;
@neutral-4: #c8cfdb;
@neutral-5: #eceff4;
@neutral-6: #ffffff;

@semantic-1: #e35073;
@semantic-2: #ffefeb;
@semantic-3: #49c89a;
@semantic-4: #a276ff;
@semantic-5: #ffec45;
@semantic-6: #fdf4e0;
@semantic-7: #f5edff;

@secondary-1: #99c0df;
@secondary-2: #dbe9ff;
@secondary-3: #f2f8ff;
@secondary-4: #d8e0ed;

@green-primary: #1bc47d;
@primary-color: #64c5b1; // primary color for all components
@info-color: #55b938;

@success-color: #52c41a;

@warning-color: #ff9551;
@gray-0: #0b0b0b;

@gray-1: #202020;
@gray-2: #333333;
@gray-3: #4f4f4f;
@gray-4: #828282;
@gray-5: #bdbdbd;
@gray-6: #e0e0e0;
@gray-7: #f2f2f2;

@secondary: #d29af7;
@secondary-hover: #e4baff;

@red: #ff4a4a;

@border-color-base: @gray-3;
